* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: rgb(0, 255, 0)
}
h1 {
    font-family: 'Grenze Gotisch', cursive;
}
h3, h5, p, button, input {
    font-family: 'Economica', sans-serif;
}
*:active, *:hover, *:visited, *:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: black;
}
.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container {
    max-width: 500px;
    height: 300px;
    margin-top: 50px;
}
button {
    width: 125px;
    height: 30px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgb(0,255,0);
    color: black;
    cursor: pointer;
}
#userinput {
    margin-top: 30px;
    width: 100px;
    height: 15px;
    background-color: black;
    text-align: center;
}
.speech-area {
    display: none;
    width: 350px;
    height: fit-content;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
.speech-area p {
    color: #000;
    font-weight: bold;
}
.backpack {
    display: none;
    width: 200px;
    padding: 50px 15px 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}
.backpack h5 {
    margin-top: 5px;
    color: #000;
    font-weight: bold;
}
.backpack h3 {
    color: #000;
}
.inside-backpack {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.item {
    width: 100%;
    padding: 10px;
}    
.image-container {
    width: 100%;
    height: 100px;
    padding: 20px;
}
.item-image {
    height: 100%;
}
.backpack-toggle {
    display: none;
    width: 200px;
    height: 40px;
    padding: 5px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    justify-content: center;
    align-items: center;
    background-color: red;
    cursor: pointer;
}
.backpack-toggle p {
    color: #fff;
    font-size: 25px;
}
.display-block {
    display: block;
}
.item-2 {
    display: none;
}
.item-3 {
    display: none;
}
.you-win, .you-lost {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 100;
}
.end-game-title {
    margin-bottom: 30px;
    font-size: 40px;
    font-family: 'Economica', sans-serif;
    font-weight: 300;
}
.you-win img {
    width: 400px;
}
.end-game-button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
}